{% extends 'base.html.twig' %}

    {% block title %}Campaign{% endblock %}
    
    {% block stylesheets %}
        <style>
            .StripeElement {
                background-color: white;
                height: 40px;
                padding: 10px 12px;
                border-radius: 4px;
                border: 1px solid transparent;
                box-shadow: 0 1px 3px 0 #e6ebf1;
                -webkit-transition: box-shadow 150ms ease;
                transition: box-shadow 150ms ease;
            }

            .StripeElement--focus {
                box-shadow: 0 1px 3px 0 #cfd7df;
            }

            .StripeElement--invalid {
                border-color: #fa755a;
            }

            .StripeElement--webkit-autofill {
                background-color: #fefde5 !important;
            }
        </style>
    {% endblock %}

        {% block body %}

        <div class="parallax-container valign-wrapper">
                <div class="section no-pad-bot">
                    <div class="container">
                        <h1 class="header center white-text light">{{ campaign.title }}</h1>
                        <div class="row center">
                            <h5 class="header col s12 light">Organisée par : {{ campaign.name }}</h5>
                        </div>
                    </div>
                </div>
                <div class="parallax"><img src="/assets/images/8.jpg" alt="Titre de la campagne"></div>
            </div>

            <div class="container">
                <div class="section">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <form action={{ path("spending") }} method="post" id="payment-form">
                                <h5 class="center">Votre identité</h5>
                                    <div class="input-field col s12 l6">
                                        <input id="email" type="email" name="email" class="validate">
                                        <label for="email">Votre Email</label>
                                    </div>
                                    <input type="hidden" name="campaign_id" value="{{ campaign.id }}" >
                                    <div class="input-field col s12 l6">
                                        <input id="name" name="name" type="text" class="validate">
                                        <label for="name">Votre nom</label>
                                    </div>
                                    <div class="input-field col s12 l12">
                                        <input id="amount" name="amount" type="number" value="{{ amount_participant|default(0) }}" class="validate">
                                        <label for="amount">Votre participation</label>
                                    </div>
                                    <div class="input-field col s12 l12">
                                        <input id="amount" name="content" type="text" value="" class="validate">
                                        <label for="amount">Description de votre participation</label>
                                    </div>

                                    <div class="clearfix"></div>
                                    <div class="form-row">
                                        <div id="card-element">
                                            <!-- A Stripe Element will be inserted here. -->
                                        </div>
                                        <!-- Used to display form errors. -->
                                        <div id="card-errors" role="alert">
                                        </div>
                                    </div>
                                    <div class="input-field col s12 l6">
                                        <a href="#!" class="btn btn-large waves-effect waves-light grey col s12">Annuler</a>
                                    </div>
                                    <div class="input-field col s12 l6">
                                        <button class="btn btn-large waves-effect waves-light pink lighten-1 col s12" type="submit">
                                            Participer
                                            <i class="material-icons right">euro_symbol</i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="section">
                    <div class="row">
                        <div class="col s12 center">
                            <h4>Comment ça marche ?</h4>
                        </div>
                    </div>
                    <!--   Icon Section   -->
                    <div class="row">
                        <div class="col s12 m4">
                            <div class="icon-block center">
                                <div class="btn-large btn-floating white"><i class="material-icons teal-text">create</i></div>
                                <h5 class="center">Créez</h5>
                                <p class="light">et personnalisez votre campagne commune en 30 secondes !</p>
                            </div>
                        </div>

                        <div class="col s12 m4">
                            <div class="icon-block center">
                                <div class="btn-large btn-floating white"><i class="material-icons teal-text">wc</i></div>
                                <h5 class="center">Invitez</h5>
                                <p class="light">vos amis en utilisant les réseaux sociaux, mail, etc.</p>
                            </div>
                        </div>

                        <div class="col s12 m4">
                            <div class="icon-block center">
                                <div class="btn-large btn-floating white"><i class="material-icons teal-text">shopping_cart</i></div>
                                <h5 class="center">Collectez</h5>
                                <p class="light">et utilisez l'argent comme bon vous semble avec vos amis.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}